.savecheckednametextArea{
    width: 200px;
    height: 28px;
	line-height: 28px;
}
.adviceselect{
    width: 95%;
}
.sign-div{
    height: 80px;
    position: relative;
}
.sign-showname{
    display: inline-block;
    width: 95%;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 90px;
    font-size: 16px;
    color: black;
    line-height: 30px;
}
.sign-showdate{
    position: absolute;
    display: inline-block;
    width: 95%;
    height: 30px;
    top: 45px;
    left: 173px;
    font-size: 16px;
    color: black;
    line-height: 30px;
}
.defaultSign-showname{
   display: inline-block;
    width: 50%;
    height: 28px;
    position: absolute;
    font-size: 16px;
    left:30px;
    color: black;
    line-height: 28px;
}
.defaultSign-showdate{
    position: absolute;
    display: inline-block;
    width: 45%;
    height: 28px;
    left: 35%;
    font-size: 16px;
    color: black;
    line-height: 28px;
	}
	
.defaultSign-div{
	height: 28px;
    position: relative;
    width: 80%;
    left: 15%;
    top: -25px;
	}
.endorse-div{
    position: relative;
    height: 80%;
}
.fileadvice-div{
    height: 250px;
}
.hide{
    display: none;
}


/*退回弹出框的样式控件*/
span.gobackDialog{
    color:#3babe3;
    position: absolute;
    background: #FFFFFF;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid #3babe3;
    z-index: 100;
}
span.gobackDialog ul.gobackul{
    list-style: none;
    height: 99%;
    margin: 0;
    padding: 0;
}
span.gobackDialog ul.gobackul li{
    display: block;
    height: 20px;
    width: 100%;
    border-bottom:1px solid #3babe3;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

span.gobackDialog ul.gobackul li:hover{
    background: deepskyblue;
    cursor: pointer;
    color: #FFFFFF;
}

