<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "/WEB-INF/classes/mybatis-3-mapper.dtd">

<mapper namespace="student">
    
	<insert id="insert" parameterType="data.oa.stuManagement.entity.EntityStudent">
		<selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">  
	  		SELECT NewID()
	    </selectKey>  
	    <![CDATA[
	        INSERT INTO &{framework.table.prefix['platform']}student
			(id,name,phone,sex)
			VALUES(#{id},#{name},#{phone},#{sex})  
	    ]]>
	</insert>
	
	<update id="update" parameterType="data.oa.stuManagement.entity.EntityStudent">
	    <![CDATA[
	        update &{framework.table.prefix['platform']}student
			set name=#{name},
			phone=#{phone},
			sex=#{sex}
			where id = #{id}
    	]]>
	</update>
	
	<select id="load" parameterType="java.lang.String" resultType="data.oa.stuManagement.entity.EntityStudent">
	    <![CDATA[
	        select * from &{framework.table.prefix['platform']}student where id = #{id}
	    ]]>
	</select>
	
	
	<delete id="delete">
		<![CDATA[
	        delete from &{framework.table.prefix['platform']}student where id in 
	    ]]>
	    <foreach collection="idAry" index="index" item="item" open="(" separator="," close=")">     
	  		#{item}
	   	</foreach>
	</delete>
	
	<select id="selectPaging" needPaging="true" parameterType="Map" resultType="data.oa.stuManagement.entity.EntityStudent">
	    <![CDATA[
	        select * from &{framework.table.prefix['platform']}student
	    ]]>
	    <where>
			<if test="name!=null and name!=''">  
		        AND name like CONCAT('%',#{name},'%')
		   	</if>
		    <if test="phone!=null and phone!=''">  
		        AND phone like CONCAT('%',#{phone},'%')
		    </if>
		    <if test="sex!=null and sex!=''">  
		        AND sex = #{sex}
		    </if>
		</where>
	</select>			
</mapper>